<div class="min-h-fit w-full min-w-60">
  <div class="flex flex-row w-full">
    <div class="flex items-center h-min p-4 border-r-2 border-gray-200 w-56 min-w-56">
      <img alt="planit_logo" class="h-16" src="../../../assets/logo.png"/>
    </div>
    <div class="flex flex-row justify-center items-center w-full space-x-6 shadow-md">
      <button class="rounded-xl p-2 pr-4 pl-4 min-w-24 shadow-md">Daily</button>
      <button class="rounded-xl p-2 pr-4 pl-4 min-w-24 shadow-md">Weekly</button>
      <button class="rounded-xl p-2 pr-4 pl-4 min-w-24 shadow-md">Monthly</button>
    </div>
  </div>
</div>
